
<% if !@results.blank? %>
    <h1 class="h2">Searched track Results:</h1>
    <div class="tracks-container container">
    <div class="row d-none d-md-flex">
        <div class="h2 col-3 text-light_accent">Image</div>
        <div class="col-9 row">
            <div class="h2 col-4 text-main">Title</div>
            <div class="h2 col-4 text-dark_accent">Artist</div>
            <div class="h2 col-4 text-dark_shades">Album</div>
        </div>
    </div>
    <% @results.each do |result| %>
        <div class="p-3 p-sm-1 track row align-items-center">
            <div class="track-img-container col-4 col-md-3 text-center">
                <img src="<%= result.album.images[2]["url"] %>">
            </div>
            <div class="col-8 col-md-9 row">
            <span class="col-12 col-md-4 border-md border-main"><%= result.name %></span>
            <span class="col-12 col-md-4 border-md border-dark_accent"><%= result.artists[0].name %></span>
            <span class="col-12 col-md-4 border-md border-dark_shades"><%= result.album.name %></span>
            </div>
        </div>
    <% end %>
    </div>
<% elsif @results %>
    <h1 class="text-danger">No results Found</h1>
<% end %>
<h2>Search Again </h2>
<%= form_with(url: tracks_search_path, method: "get", local: true, class: "form-inline") do |f| %>
  <%= f.label :title, "Track Title:", class: "mr-2" %>
  <%= f.text_field :title, class: "form-control mr-2 mb-2 mb-sm-0", placeholder: "Search Track" %>
  <%= f.submit "Search", class: "btn btn-secondary" %>
<% end %>